.row{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px #eee;
    margin-top: 90px;
    border-radius: 10px;
}
.nav-pills .nav-link {
    border-radius: 1.25rem;
    box-shadow: 0 0 20px #eee;
    margin-bottom: 17px;
}
.nav-link {
    display: block;
    padding: 0.5rem 7rem;
}
a{
    background: #fff;
    color: black;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 50px 10px;
    box-shadow: 0 0 20px #eee;
}
.col-9{
    height: 800px;
}
.col-9 img{
    background-size: auto;
    object-fit: cover;
    position: absolute;
    width: auto;
    height: 800px;
    border-radius: 0 10px 10px 0;
}
.container{
    position: relative;
}
h2{
    color: #eee;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: rgb(0,6,36);
    background: linear-gradient(82deg, rgba(0,6,36,1) 0%, rgba(94,9,136,1) 37%, rgba(183,116,255,1) 75%);
}
button{
    background: rgb(0,6,36);
    background: linear-gradient(82deg, rgba(0,6,36,1) 0%, rgba(94,9,136,1) 37%, rgba(183,116,255,1) 75%);
    border-radius: 2rem !important;
    border: none !important;
}
.text-success{
    color: white !important;
}